$background-black: #000;
$background-red: #db0001;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $background-black;
}

.bannr {
    width: 150px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::after {
        content: '';
        width: 120%;
        height: 20px;
        border-radius: 50%;
        background: $background-black;
        position: absolute;
        left: -10%;
        bottom: -10px;
        z-index: 5;
    }

    span {
        width: 50px;
        height: 0%;
        background: $background-red;
        position: absolute;
    }

    .left, .center, .right {
        bottom: 0;
        animation: anim 1s linear forwards;
    }

    .left{
        left: 0;
        animation-delay: 1s;
    }

    .center {
        top: 0;
        left: 0;
        transform: skewX(22deg);
        transform-origin: top left;
        box-shadow: 0 0 50px $background-black;
        z-index: 2;
        animation-delay: 2s;
    }

    .right {
        right: 0;
        animation-delay: 3s;
    }
}

@keyframes anim {
    100% {
        height: 100%;
    }
}



